[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.3.1"

[packages]
aiohttp = "==3.5.4"
pychromecast = "==3.2.1"
precept = "==0.1.1"
appdirs = "*"
aiohttp-cors = "==0.7.0"

[requires]
python_version = "3.7"
